.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.actionCall.actionCall {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  width: 720px;
  height: 530px;
  padding-top: 98px;
  padding-left: 64px;
  gap: 32px;
  background: #f8f8f8;
}

.hero_title {
  position: relative;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #121417;
}
.highlight {
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  font-weight: 400;
  color: #121417;
  z-index: 1;
}
.highlight::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  width: 195px;
  height: 40px;
  top: 17%;
  background: var(--page-primecolor);
  z-index: -1;
}
.hero_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.02em;
  color: #121417;
  max-width: 471px;
  text-wrap: wrap;
  padding-bottom: 32px;
}
.nav {
  border-radius: 12px;
  padding: 16px 88px;
  max-width: 267px;
  background: var(--page-primecolor);
  border: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  cursor: pointer;
  color: #121417;
}
.nav:hover {
  background: var(--page-secondarycolor);
}
.image {
  position: relative;
  border-radius: 30px;
  width: 568px;
  height: 530px;
  background-color: var(--page-primecolor);
  overflow: hidden;
  z-index: 0;
}
.hero_img {
  position: absolute;
  top: 15%;
  left: 21%;
  width: 339px;
  height: 339px;
  background-color: var(--page-primecolor);
  z-index: 1;
}
.laptopLogo {
  position: absolute;
  border-radius: 5px;
  top: 67%;
  left: 19%;
  width: 360px;
  height: 304px;
  background: var(--page-gradientcolor);
  z-index: 2;
}

.macLogo {
  position: absolute;
  top: 80%;
  left: 46%;
  width: 46px;
  height: 56px;
  fill: var(--page-primecolor);
  z-index: 3;
}
