.head,
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.logo {
  gap: 8px;
}
.head {
  gap: 390px;
}

.logo_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #121417;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 28px;
}

.link,
.active {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #121417;
  text-decoration: none;
}

.active {
  color: var(--page-primecolor);
}
